IO_LOC "led_o[7]" R8;
IO_PORT "led_o[7]" IO_TYPE=LVCMOS33 SLEW_RATE=SLOW PULL_MODE=NONE DRIVE=8;
IO_LOC "led_o[6]" T7;
IO_PORT "led_o[6]" IO_TYPE=LVCMOS33 SLEW_RATE=SLOW PULL_MODE=NONE DRIVE=8;
IO_LOC "led_o[5]" L14;
IO_PORT "led_o[5]" IO_TYPE=LVCMOS33 SLEW_RATE=SLOW PULL_MODE=NONE DRIVE=8;
IO_LOC "led_o[4]" L16;
IO_PORT "led_o[4]" IO_TYPE=LVCMOS33 SLEW_RATE=SLOW PULL_MODE=NONE DRIVE=8;
IO_LOC "led_o[3]" T6;
IO_PORT "led_o[3]" IO_TYPE=LVCMOS33 SLEW_RATE=SLOW PULL_MODE=NONE DRIVE=8;
IO_LOC "led_o[2]" P6;
IO_PORT "led_o[2]" IO_TYPE=LVCMOS33 SLEW_RATE=SLOW PULL_MODE=NONE DRIVE=8;
IO_LOC "led_o[1]" T8;
IO_PORT "led_o[1]" IO_TYPE=LVCMOS33 SLEW_RATE=SLOW PULL_MODE=NONE DRIVE=8;
IO_LOC "led_o[0]" P8;
IO_PORT "led_o[0]" IO_TYPE=LVCMOS33 SLEW_RATE=SLOW PULL_MODE=NONE DRIVE=8;
IO_LOC "count_i" C7;
IO_PORT "count_i" IO_TYPE=LVCMOS33 PULL_MODE=NONE;
IO_LOC "clock_i" H11;
IO_PORT "clock_i" IO_TYPE=LVCMOS33 PULL_MODE=NONE;
IO_LOC "clear_i" D7;
IO_PORT "clear_i" IO_TYPE=LVCMOS33 PULL_MODE=NONE;
